<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue CDN Synoptic Reports</title>
  <meta name="description" content="Generating Tumor Summaries/Synoptic Reports">
  <meta name="author" content="Megan Renshaw">

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
        <!--navbar-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Synoptic Reports/Home</a>
                  </div>
                  <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li><a href="contact.html">Contact</a></li>
                      <li><a href="about.html">About</a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
              </nav>
            
              <div class="container">
                <div class="synoptic-reports">
                  <h1>Generating Tumor Summaries/Synoptic Reports</h1>
                 
                  <br/>
                  <div id="tumor-type-grid"></div>
            
                </div>
              </div>

    <!--main Vue app-->
    <div id="app">
      <!--homepage view-->
      <div v-if="section === 'homeMenu'" class = "container">

        <!--most common column-->
        <div id="tumor-type-grid">
          <div class = "row">
            <div class="col-md-3">
              <h4>Most common</h4>
                <div id="tumor-type-grid" v-for="site in tumor_types">
                <div v-if="site.most_common" class ="row"><button class="link-button"  v-on:click="displayQuestions(site)"><span class = "name">{{site.name}}</span><span v-if="site.biopsy_type" > {{site.biopsy_type}}</span></button></div>
                </div>
            </div>
         

            <!--organ group columns-->
            <div  id="tumor-type-grid" class="col-md-3" v-for="item in site_groups" >
                <h4>{{item.name}}</h4>
                <div id="tumor-type-grid" v-for="site in tumor_types" >
                <div v-if="site.organ_group === item.name" class = "row"><button class="link-button"  v-on:click="displayQuestions(site)"><span class = "name">{{site.name}}</span><span v-if="site.biopsy_type" > {{site.biopsy_type}}</span></button></div>
                </div>
            </div>
          </div>
          
        </div>
        <br>
        <br>
        <br>
      </div>
      
      <!--Questions and table view-->
      <div v-if="section === 'showQuestions'" class = "container"> 


        <div class = "container">
            <button v-on:click="displayhomeMenu"> Back to Main Menu</button>
        </div>

          <br>
        <div>
          <h4 > {{current_tumor}} {{current_tumor_biopsy_type}} tumor summary</h4>
        </div>
        <br>

        <!--form to submit questions from-->
        <form class="review-form" @submit.prevent="onSubmit">

            
            <div  v-for="(q,index) in synresults" :key= "index">
              
                <h4 class= "name"><span class = "name">{{index}}. {{q.name}}</span><span v-if="q.description" class = "description"> [ {{q.description}}]</span></h4>
            
                
              <div v-for="(a, index2) in q.options" :key= "index2" >
                  <ul  v-for="(g) in a.group">
                      <li v-if="index2 == 0" ><input type="radio" :value="g.name + index2" :name = "q.name + index2" v-model="row.inputanswers[index+index2]"   v-on:click= "dontUseFreeText(index)" ><span ><strong>{{g.name}}</strong></span><span v-if="g.description" class = "description"> [ {{g.description}}]</span></li>
                      <li v-if="index2 != 0" ><input type="radio" :value="g.name + index2" :name = "q.name + index2" v-model="row.inputanswers[synresults.length+index2-1]"   v-on:click= "dontUseFreeText(synresults.length+index2-1)" ><span ><strong>{{g.name}}</strong></span><span v-if="g.description" class = "description"> [ {{g.description}}]</span></li>
                    </ul>
                  <ul>
                    <li v-if="index2 == 0"><input type="radio" :checked="row5.useFreeText[index]" :name = "q.name + index2" v-on:click="changeUseFreeText(index)" ><span> </span><input  type = "text" :name="q.name"  v-model="row2.freetextanswers[index]" ></li> 
                    <li v-if="index2 != 0"><input type="radio" :checked="row5.useFreeText[synresults.length+index2-1]" :name = "q.name + index2" v-on:click="changeUseFreeText(synresults.length+index2-1)" ><span> </span><input  type = "text" :name="q.name"  v-model="row2.freetextanswers[synresults.length+index2-1]" ></li>
                </ul> 
                </div>
            </div>
               
                <br>
                <div class = "container">
                    <button v-on:click="displayhomeMenu"> Back to Main Menu</button>
                  </div>
                  <br>
                <div class = "container">
                <input type="submit" value="Update Table"> 
               </div>
             
          
          <br>
          <br>
        </form>  

       
        <!--table portion-->
        <div v-if="showtable"  class = "container">
          <h2>Tumor Summary Table</h2>
          <table >
            <tr v-for ="de in row3.finalanswers" id = "generated-report" id = "tumor-form">
              <td valign="top"> | {{de.question}}:</td>
              <td style = "width: 400px" > {{de.answer}}</td>
            </tr>
          </table> 
        </div>
        <br>
        <br>
    


        
    




      </div> 

    </div>
    
    
</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>

