<!DOCTYPE html>
<html lang="en">
<head>




    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Synoptic Reports-2</title>
  <meta name="description" content="Generating Tumor Summaries/Synoptic Reports">
  <meta name="author" content="Megan Renshaw">




  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/styles.css">

  

 

</head>

<body>
        <!--navbar-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: #4ddbff;"href="index.html"><strong>Back to Main Menu</strong></a>
                  </div>
                  <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li><a href="contact.html">Contact</a></li>
                      <li><a href="about.html">About</a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
              </nav>
            
              <div class="container">
                <div class="synoptic-reports">
                  <h1>Generating Tumor Summaries/Synoptic Reports</h1>
                 
                  <br/>
                  <div id="tumor-type-grid"></div>
            
                </div>
              </div>

    <!--main Vue app-->
    <div id="app">
    <div v-cloak>
      <!--homepage view-->
      <div v-if="section === 'homeMenu'" class = "container">

        <!--most common column-->
        <div id="tumor-type-grid">
          <div class = "row">
            <div class="col-md-3">
              <h4>Most common</h4>
                <div id="tumor-type-grid" v-for="site in tumor_types">
                <div v-if="site.most_common" class ="row">
                  <button class="link-button"  v-on:click="displayQuestions(site)">
                    <span class = "name">{{site.name}}</span>
                    <span v-if="site.biopsy_type" > {{site.biopsy_type}}</span>
                  </button>
                  </div>
                </div>
            </div>
         

            <!--organ group columns-->
            <div  id="tumor-type-grid" class="col-md-3" v-for="item in site_groups" >
                <h4>{{item.name}}</h4>
                <div id="tumor-type-grid" v-for="site in tumor_types" >
                <div v-if="site.organ_group === item.name" class = "row">
                  <button class="link-button"  v-on:click="displayQuestions(site)">
                    <span class = "name">{{site.name}}</span>
                    <span v-if="site.biopsy_type" > {{site.biopsy_type}}</span>
                    <span v-if="site.optional" > (optional)</span>
                  </button>
                  </div>
                </div>
            </div>
          </div>
          
        </div>
        <br>
        <br>
        <br>
      </div>
      
      <!--Questions and table view-->
      <div v-if="section === 'showQuestions'" class = "container"> 


        <div class = "container">
            <button v-on:click="displayhomeMenu"> Back to Main Menu</button>
        </div>

          <br>
        <div>
          <h4 > {{current_tumor}} {{current_tumor_biopsy_type}} tumor summary</h4>
        </div>
        <br>

        <!--form to submit questions from-->
        <div class="review-form">

            <!--show question-->
            <div  v-for="(q,index) in synresults" :key= "index">
                <div v-bind:style="{backgroundColor: row6.bgc[index]}">
                  <h4 class= "name">
                    <span class = "name" >{{index+1}}. {{q.name}}</span>
                    <span v-if="q.description" class = "description"> [ {{q.description}}]</span>
                  </h4>
            
                   <!--loop through answers-->
                  <div v-for="(a, index2) in q.options" :key= "index2" >
                      <!--show ER/PR answers-->
                      <ul v-for="(g) in a.group">
                          <li v-if="g.id === '20'">
                            <input type="radio"  :value= "g.name" :name = "q.name" v-on:click="compoundFreeText(index, g.name)" >
                            <span><strong>{{g.name}}</strong> </span>
                            <select  :name="q.name"  v-model.lazy="row7.modifyFreeText[index]"  v-on:change="changeColor(index)">
                            <option value ="strong intensity">strong intensity</option>
                            <option value ="moderate intensity">moderate intensity</option>
                            <option value ="weak intensity">weak intensity</option>
                          </select>
                          
                            <span v-if="g.description" class = "description"> [ {{g.description}}]</span>
                          </select>
                        </li>    
                         </ul>

                         <!--show regular, radio button answers-->
                        <ul   v-for="(g) in a.group">
                            <li v-if="g.id === '00' || 
                            
                            g.id === '49' || 
                            g.id === '50' || 
                            g.id === '51' || 
                            g.id === '52' || 
                            g.id === '53' || 
                            g.id === '54' || 
                            g.id === '55' || 
                            g.id === '56' || 
                            g.id === '60' || 
                            g.id === '61' || 
                            g.id === '62' || 
                            g.id === '63' || 
                            g.id === '64' || 
                            g.id === '65' || 
                            g.id === '66' || 
                            g.id === '67' || 
                            g.id === '68' || 
                            g.id === '69' || 
                            g.id === '70' || 
                            g.id === '71' || 
                            g.id === '72' || 
                            g.id === '73' || 
                            g.id === '17' ||
                            g.id === '19' ||
                            g.id === '21' ||
                            
                            g.id === '80' || 
                            g.id === '81' || 
                            g.id === '82' || 
                            g.id === '83' || 
                            g.id === '84' || 
                            g.id === '85' || 
                            g.id === '86' || 
                            g.id === '87' || 
                            g.id === '88' ||
                            g.id === '90' ||
                            g.id === '74' ||
                            g.id === '75' ||
                            g.id === '76' ||
                            g.id === '77'">
                            <input type="radio"  :value="g.name + q.id + g.id" :name = "q.name" v-model="row.inputanswers[index]"   v-on:click= "dontUseFreeText(index,index2, g.id)" >
                            <span ><strong>{{g.name}}</strong></span>
                            <span v-if="g.description" class = "description"> [ {{g.description}}]</span>
                          </li>   
                        </ul> 
                        <!--show mixed free text/radio answers-->
                        <ul v-for="(g) in a.group">
                          <li v-if="g.id === '10' ||
                          g.id === '11' ||
                          g.id === '12' ||
                          g.id === '13' ||
                          g.id === '15' ||
                          g.id === '16' ||
                          g.id === '18'">
                            <input type="radio"  :value= "g.name" :name = "q.name" v-model="row8.modifyFreeTextHeader[index]"  v-on:click="compoundFreeText(index, g.name, g.id)" >
                            <span><strong>{{g.name}}</strong> </span>
                            <input  type = "text" :name="q.name"  v-model.lazy="row7.modifyFreeText[index]"  v-on:change="changeColor(index)">
                            <span v-if="g.description" class = "description"> [ {{g.description}}]</span>
                          </li>    
                         </ul>

                          <!--show extended answers-->
                      <ul v-for="(g) in a.group">
                        <li v-if="g.id === '30'">
                        
                          <input type="radio"  :value= "g.name" :name = "q.name" v-on:click="dontUseFreeText(index,index2, g.id)" >
                          <span><strong>Use extended list:</strong> </span>
                       
                          <select  :name="q.name"  v-model.lazy="row.inputanswers[index]"  v-on:change="dontUseFreeText(index,index2, g.id)">
                          <option v-for="item in g.inputs_required" v-bind:value ="item.name+q.id+g.id">{{item.name}}</option>
                         
                        </select>
                        
                          <span v-if="g.description" class = "description"> [ {{g.description}}]</span>
                        </select>
                      </li>    
                       </ul>
                         

                        <!--show free text answers--> 
                       <ul >
                        <li><input type="radio"   :checked="row5.useFreeText[index]" :name = "q.name" v-on:click="changeUseFreeText(index)" >
                          <span> </span>
                          <input  type = "text" :name="q.name"  v-model.lazy="row2.freetextanswers[index]"  v-on:change="changeColor(index)">
                        </li>    
                       </ul>



                    </div>
                 </div>

            </div>
               
                <br>
                <div class = "container">
                    <button v-on:click="displayhomeMenu"> Back to Main Menu</button>
                  </div>
                  <br>
               
                  
                  <br>
             
          
          <br>
         
              </div>  

       
        <!--table portion-->
        <div v-if="showtable"  class = "container">
          <h2>Tumor Summary Table</h2>
          <br>
          <br>
          <div>
          <table id = "generated-report">
            <tr v-for ="de in row3.finalanswers">
              <td valign="top" class = "report-label"> * {{de.question}}:</td>
              <td class = "report-label" style = "width: 350px" > {{de.answer}}</td>
            </tr>
          </table> 
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class = "container">
            <button v-on:click="displayhomeMenu"> Back to Main Menu</button>
          </div>
          <br>
       
          
          <br>

        
       


      </div> 

    </div>
    </div>
    
    
</body>
</html>


<script src="js/vue.min.js"></script>
<script src="js/jquery.min.js"></script><!--version3.3-->
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>


